<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ApplyMapper">
    
    <resultMap type="Apply" id="ApplyResult">
        <result property="id"    column="id"    />
        <result property="activityId"    column="activity_id"    />
        <result property="userId"    column="user_id"    />
        <result property="applyState"    column="apply_state"    />
        <result property="userName"    column="nick_name"    />
        <result property="activityName"    column="activity_name"    />
    </resultMap>

    <sql id="selectApplyVo">
--        select id, activity_id, user_id, apply_state from apply
        SELECT
            a.*,
            u.nick_name,
            act.activity_name
        FROM
            apply a
                JOIN
            sys_user u ON a.user_id = u.user_id
                JOIN
            activity act ON a.activity_id = act.activity_id
    </sql>

    <select id="selectApplyList" parameterType="Apply" resultMap="ApplyResult">
        <include refid="selectApplyVo"/>
        <where>  
            <if test="activityId != null "> and activity_id = #{activityId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="applyState != null "> and apply_state = #{applyState}</if>
        </where>
    </select>
    
    <select id="selectApplyById" parameterType="Long" resultMap="ApplyResult">
        <include refid="selectApplyVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertApply" parameterType="Apply" useGeneratedKeys="true" keyProperty="id">
        insert into apply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="activityId != null">activity_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="applyState != null">apply_state,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="activityId != null">#{activityId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="applyState != null">#{applyState},</if>
         </trim>
    </insert>

    <update id="updateApply" parameterType="Apply">
        update apply
        <trim prefix="SET" suffixOverrides=",">
            <if test="activityId != null">activity_id = #{activityId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="applyState != null">apply_state = #{applyState},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteApplyById" parameterType="Long">
        delete from apply where id = #{id}
    </delete>

    <delete id="deleteApplyByIds" parameterType="String">
        delete from apply where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>