<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DiscussMapper">
    
    <resultMap type="Discuss" id="DiscussResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="activityId"    column="activity_id"    />
        <result property="createdTime"    column="created_time"    />
        <result property="message"    column="message"    />
    </resultMap>

    <sql id="selectDiscussVo">
        select id, user_id, activity_id, created_time, message from discuss
    </sql>

    <select id="selectDiscussList" parameterType="Discuss" resultMap="DiscussResult">
        <include refid="selectDiscussVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="activityId != null "> and activity_id = #{activityId}</if>
            <if test="createdTime != null "> and created_time = #{createdTime}</if>
            <if test="message != null  and message != ''"> and message = #{message}</if>
        </where>
    </select>
    
    <select id="selectDiscussById" parameterType="Long" resultMap="DiscussResult">
        <include refid="selectDiscussVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDiscuss" parameterType="Discuss" useGeneratedKeys="true" keyProperty="id">
        insert into discuss
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="activityId != null">activity_id,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="message != null and message != ''">message,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="activityId != null">#{activityId},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="message != null and message != ''">#{message},</if>
         </trim>
    </insert>

    <update id="updateDiscuss" parameterType="Discuss">
        update discuss
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="activityId != null">activity_id = #{activityId},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="message != null and message != ''">message = #{message},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDiscussById" parameterType="Long">
        delete from discuss where id = #{id}
    </delete>

    <delete id="deleteDiscussByIds" parameterType="String">
        delete from discuss where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>